.footer {
    display: grid;
    grid-template-columns: repeat(2,25vw);
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border-top: 1px;
    border-color: black;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-top: 2%;
   
}

.footer a {
    text-decoration: underline;
    color: black;
}

.footer a:hover {
  font-weight: bold;
  cursor: pointer;
}

  @media screen and (max-width: 399px) and (max-height: 600px) {
    .footer {
        font-size: 15px;
        margin-top: 15%;
      }

      .AnimeLista {
        padding-right: 50%;
    }
    
    .Quiza {
        padding-left: 50%;
        margin-right: 35%;
    }
  }
  
  @media screen and (max-width: 399px) and (min-height: 600px) {
    .footer {
        font-size: 17px;
        margin-top: 15%;
      }

      .AnimeLista {
        padding-right: 50%;
    }
    
    .Quiza {
        padding-left: 50%;
        margin-right: 35%;
    }
  }
  
  @media screen and (min-width: 400px) and (max-width: 799px) {
    .footer {
        font-size: 20px;
        margin-top: 5%;
      }  

    .AnimeLista {
        padding-right: 50%;
    }
    
    .Quiza {
        padding-left: 50%;
        margin-right: 35%;
    }
  }
  
  @media screen and (min-width: 800px)  {
    .footer {
        font-size: 25px;
        margin-top: 5%;
      }

      .AnimeLista {
        padding-right: 50%;
    }
    
    .Quiza {
        padding-left: 50%;
        margin-right: 35%;
    }
}