.Div-TitlesQuiz {
    text-align: center;
}

.TitlesQuizh1 { 
    font-style: italic;
}

.VraagDataTitles {
    font-weight: bold;
}

@media screen and (max-width: 399px) {
    .TitlesQuizh1 {
        font-size: 10px;
    }
  }
  
  @media screen and (max-width: 399px) and (min-height: 600px) {
    .TitlesQuizh1 {
        font-size: 20px;
    }
  }
  
  @media screen and (min-width: 400px) and (max-width: 799px) {
    .TitlesQuizh1 {
        font-size: 25px;
    }
  }
  
  @media screen and (min-width: 800px)  {
    .TitlesQuizh1 {
        font-size: 35px;
    }
  }